#demo
    padding:80px
    .box
        position: relative    
        .box1,.box2,.box3
            width: 300px
            height: 300px
            background-color: #4f82a1
            padding: 75px 0 0 75px
            .minibox
                width: 140px
                height: 140px
                padding: 45px
                background-color: #325776   
                font-size: 30px
                color: #ffffff
                border: 2px solid #325776 
                transition: 5s
                &:hover
                    width: 200px
                    height: 200px
                    border: 2px solid #325776
                    padding: 5px 65px 25px 5px
        .box2            
            position: absolute
            top: 0
            left: 650px
        .box3
            position: absolute
            top: 0
            left: 1300px
    .box4
        position: relative
        padding: 80px
        .minibox1,.minibox2
            width: 230px
            height: 120px
            color: #000000
            margin: 40px 0 0 120px
            padding: 10px 0 0 80px
            font-size: 25px
            color: #ffffff
            background-color: #866278
        .minibox2    
            position: absolute
            top: 90px
            left: 1050px
    .box5
        padding: 80px
        position: relative
        .minibox1,.minibox2,.minibox3,.minibox4
            width: 300px
            height: 300px
            color: #ffffff
            border-radius: 150px 
            background-color: #966b48
            font-size: 40px
            padding: 120px
        .minibox1
            position: absolute
            top: 85px
            left: -100px          
        .minibox2
            position: absolute
            top: 85px
            left: 370px    
        .minibox3
            position: absolute
            top: 85px
            left: 845px  
        .minibox4
            position: absolute
            top: 85px
            left: 1310px        
                
                
            
            