#demo
    padding:80px
    .box
        position: relative    
        .box1,.box2,.box3
            margin: 0 120px 0 0
            width: 300px
            height: 300px
            border: 2px solid #080808
            background-color: #677bc0
            padding: 75px
            .minibox
                width: 140px
                height: 140px
                border: 2px solid #080808
                padding: 45px
                color: #ffffff
                font-size: 30px
        .box2
            position: absolute
            top: 0
            left: 550px
        .box3
            position: absolute
            top: 0
            left: 1050px
    .box4
        position: relative
        padding: 80px
        .minibox1,.minibox2
            width: 220px
            height: 105px
            color: #000000
            border: 2px solid #000000
        .minibox2    
            position: absolute
            top: 90px
            right: 50px

                
            
            